.hosted-session-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    border: 1.5px solid #4444A899;
    margin-right: 2%;
  }

  .hosted-dflex{
    display: flex;
  }
  
  
  .session-details {
    flex-grow: 1;
    padding: 25px 0px;
  }
  
  .session-details h3 {
    margin: 0;
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    line-height: 18.15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #E1BD43;
  }

  .session-name {
    margin: 5px 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 10.89px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0BD88F;
  }
  
  .session-details p {
    /* margin: 5px 0; */
    font-size: 14px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
  }
  
  .host-button, .leaderboard-button {
    padding: 4px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .host-button {
    background-color: #739AF9;
    color: white;
    font-size: 15px;
  }
  
  .leaderboard-button {
    background-color: #8854C0;
    color: white;
  }

  .hosted-questions{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 9.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #BCBCBC;
    margin-bottom: 18px;
  }
  