/* Leaderboard Section */
/* .leaderboard-section {
    padding: 20px;
  } */
  
  /* Leaderboard Header */
  .leaderboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .leaderboard-header h2 {
    margin-left: 10px;
    font-size: 24px;
    color: #f3c74c;
  }
  
  /* Top Three Participants */
  .top-three {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  .top-card {
    flex: 1;
    text-align: center;
    /* background-color: #2b2b2b; */
    background: #3B3A4099;
    padding: 2px 8px;
    border-radius: 6px;
    margin: 0 10px;
  }
  
  .top-card.first {
    background: #3B3A4099;
    width: 150px;
    height: 188px;
  }
  
  .top-card.second {
    /* background-color: #c0c0c0; */
    width: 150px;
    height: 158px;
    margin-top: 29px;
  }
  
  .top-card.third {
    /* background-color: #cd7f32; */
    width: 150px;
    height: 136px;
    margin-top: 52px;
  }
  
  /* .medal {
    font-size: 24px;
  } */
  
  .name {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    color: #FBFBFB;   
  }
  
  .email, .theme, .coins {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    /* text-align: left; */
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
  }

  .theme, .coin, .rank{
    translate: 0px 7px;
  }

  .email{
    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 15.73px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: contents;
  }

  /* Participant Rows */
  .participant-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    background: #4D4C5199;
    margin: 8px;
    border-radius: 6px;
  }

  .participant-roww {
    display: flex;
    justify-content: space-evenly;
  }
  
  .participant-row .rank, .participant-roww .rank{
    width: 16%;
    display: flex;
    justify-content: center;
  }
  
  .participant-row .name-email , .participant-roww .rank{
    width: 32%;
    text-align: center;
  }
  .participant-row .theme , .participant-roww .rank{
    width: 32%;
    text-align: center;
  }
  .participant-row .coin , .participant-roww .rank{
    width: 20%;
    text-align: center;
  }

  .leaderboardicon{
    width: 30%;
  }

  .ranking{
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 18.15px;
    color: #FBFBFB;    
  }

  .janeicon1{
    width: 46px;
    height: 52px;
  }

  .janeicon2{
    width: 40px;
    height: 45px;
  }

  .janeicon3{
    width: 38px;
    height: 44px;
  }

  .d-flex-lower{
    display: flex;
    justify-content: space-around;
  }

  .themes{
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
  }

  .coinimage{
    width: 15px;
    height: 14px;
    translate: 0px 3px;
  }
  
  .themee, .coinss{
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #17CEBB;  
    translate: 0px 9px;  
  }
  .coinss{
    translate: 0px 9px;
  }

  .janeimage{
    translate: 0px -3px;
  }

  .medal {
    position: absolute;
    width: 30px;
    height: 37px;
    background-size: cover;
    top: px;
    translate: 0px -8px;
  }
  
  .medal-first {
    background-image: url('../assets/images/medal-1.png'); /* Path to gold medal image */
  }

  .medal-second {
    background-image: url('../assets/images/medal-2.png'); /* Path to gold medal image */
  }

  .medal-third {
    background-image: url('../assets/images/medal-3.png'); /* Path to gold medal image */
  }