.sidebar {
    width: 250px;
    background-color: #1D1D1D;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* height: 100vh; */
  }

  @media (max-width:770px){
    .sidebar{
        width: 250px !important;
      }
  }
  
  
  .profile-section {
    text-align: center;
    margin-bottom: 20px;
    background-color: #6A3DCC;
    border-radius: 51px;
  }
  .profile-name-outer{
    text-align: justify;
    display: inline-block;
  }
  
  .profile-name {
    font-size: 19px;
    font-weight: bold;
  }

  .create-icon{
    width: 97%;
    height: 85%;
  }
  .a.battle-a{
    background-color: #1f2441;
    color: #1F2441;
    box-shadow: 12px 19px 20px rgba(0, 48, -11, 1.0);
  }
  
  .battle-icon{
    width: 54%;
    height: 60%;
  }
  .profile-role {
    font-size: 13px;
    color: #fff;
  }
  .serviceIcon{
     width: 70%;
     height: 64%;
   }
  .other-links span {
    color: #858585;
    font-size: 11px;
  }
  .other-links{
    display: flex;
    flex-direction: column;
  }
  
  .create-button {
    background-color: #1f2441;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .first-li-div {
    list-style: none; /* Remove bullet points */
    margin: 10px 0; /* Space between items */
    background-color: #252525; /* Background color */
    padding: 10px; /* Padding inside the list items */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  .first-li-div li a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Text color */
    display: block; /* Make the link fill the entire list item */
  }
 
  
  .nav-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* .nav-options ul li {
    margin: 10px 0;
  } */
  
  .nav-options ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: block;
    padding: 8px;
    border-radius: 4px;
  }
  
  .nav-options ul li a:hover {
    background-color: #444;
  }
  
  .other-links {
    margin-top: 20px;
  }
  
  /* .upgrade-section {
    margin-top: 20px;
  } */

  .upgradeIcon{
    width: 35%;
    height: 50%;
  }

  .refer-button{
    background-color: #298CB0;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    margin-top: 4px;
  }

  .ReferIcon{
    width: 47%;
  }
  
  .upgrade-button{
    background-color: #E1BD43;
    border-radius: 5px;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    height: 30px;
  }

  .css_sprites{ 
    width: 16px ;
    height: 13px ;
    background-image: url(/src/assets/images/css_sprites.png);
    background-size: 157px;
    background-repeat: no-repeat;
    display: inline-block;
    translate: 0px 8px;
  }

  .css_spritess{
    background-image: url(../assets/images/css_spritess.png) !important;
    background-size: 80px;
  }

  .sprite_smart{
    background-position: -9px -8px;
  }

  .sprite_notification {
    background-position: -5px -34px;
}

 .sprite_support {
    background-position: -34px -6px;
}

.sprite_library{
    background-position: -135px -39px;
    
  }
  .sprite_hosted{
    background-position: -10px -104px;
  }

  .sprite_group{
    background-position: -9px -75px;
  }

  .sprite_marketplace{
    background-position: -8px -9px;
    height: 16px !important;
  }

  .sprite_rewards {
    background-position: -105px -9px;
    height: 16px !important;
  }

  .sprite_profile {
    background-position: -71px -105px;
}
  .sidebar li {
    display: flex;
    flex-direction: row;
  }

  .sprite_setting {
    background-position: -75px -40px;
}

.sprite_use {
    background-position: -120px -84px;
    background-size: 181px !important;
    height: 14px !important;
}

.sprite_logout {
    background-position: -41px -74px;
}

.sprite_battle{
    background-position: -48px -49px;
    height: 16px !important;
    background-size: 178px !important;
    translate: 0px 5px !important;
}

.sprite_service{
    background-position: -75px -75px;
    width: 14px !important;
    height: 13px !important;
    translate: 0px -1px !important;
}

.sprite_upgrade{
    translate: -41px -1px !important;
    background-position: -10px -43px !important;
    width: 18px !important;
    height: 22px !important;
    background-size: 178px !important;
}

.sprite_refer {
    translate: -29px -1px !important;
    background-position: -119px -43px !important;
    width: 18px !important;
    height: 22px !important;
    background-size: 178px !important;
}

  /* ------------ */
  .sidebar {
    width: 20%;
    transition: width 0.3s ease;
    position: relative;
  }
  
  .sidebar.collapsed {
    width: 60px;
  }
  
  .toggle-button {
    position: absolute;
    top: 10px;
    left: 196px;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
  }
  
  .profile-section {
    /* padding: 10px; */
    margin-top: 40px;
  }
  
  /* .profile-name-outer {
    margin-top: 20px;
  } */
  
  /* .create-button {
    margin: 20px;
  } */
  
  .nav-options ul {
    list-style: none;
    padding: 0;
  }
  
  /* .nav-options li {
    padding: 10px 20px;
  } */
  
  .first-li-div {
    margin-top: 20px;
  }
  
  .upgrade-section {
    margin: 5px 0px 0px 0px;
  }
  
  .upgrade-button, .refer-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  @media(min-width:768px){
    .sidebar.collapsed .profile-name-outer, 
    .sidebar.collapsed .create-button,
    .sidebar.collapsed .nav-options,
    .sidebar.collapsed .other-links,
    .sidebar.collapsed .upgrade-section {
      display: none;
    }
  }
 

  .sidebar.collapsed .toggle-button {
    left: 10px; /* Adjust position for collapsed sidebar */
  }
  
  
  /* --------------- */
  /* hamburger implemented code */
  /* General sidebar styles */

  
  .sidebar.collapsed {
    left: 0;
  }
  
  /* Toggle button styles */
  
  
  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .sidebar {
        width: 250px;
        height: 100%;
        /* background-color: #fff; */
        position: fixed;
        top: 0;
        left: -250px;
        transition: left 0.3s ease;
        z-index: 1000;
        overflow-y: auto;
      }

      .toggle-button {
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }  

    .toggle-button {
      display: block;
    }
  
    .sidebar {
      width: 80%; /* Adjust sidebar width for mobile */
      left: -80%; /* Initially hidden off-screen */
    }
  
    .sidebar.collapsed {
      left: 0; /* Slide in from left */
    }
  
    .content-section {
      margin-left: 0;
    }
  }
  